[Desktop Entry]
GenericName=detect
GenericName[zh_CN]=瓶子检测客户端
Name=detect Client
Name[zh_CN]=瓶子检测
Exec = /home/dell/work/project/qt_bottle_cap_defect_detection/build-main_program-Desktop_Qt_5_14_2_GCC_64bit-Release/run.sh
Path = /home/dell/work/project/qt_bottle_cap_defect_detection/build-main_program-Desktop_Qt_5_14_2_GCC_64bit-Release
Termainal = false
Type = Application
Icon=/home/dell/work/project/qt_bottle_cap_defect_detection/build-main_program-Desktop_Qt_5_14_2_GCC_64bit-Release/img/logo.png
